@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="text-center">
    <h1 class="display-5">Registro de Comidas en Línea</h1>
    <img src="~/imgs/alimentos-index.jpg" class="img-fluid" />
</section>

<section>
    <div class="container">
        <div class=" row">
            <div class=" col-12 text-center">
                <h2 class="display-6">Nuestros Servicios</h2>
                <p><b>Nuestros 3 principales servicios</b></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img class="d-block mx-auto" src="~/imgs/inventario-alimentos.png" width=60 />
                <h3 class="display-7 text-center">Inventario de Alimentos</h3>
                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Commodi ipsam quisquam ab maxime sapiente consequatur non, laboriosam
                 quibusdam optio repellat iure labore. Laboriosam animi deleniti molestias
                 ex voluptatibus repellat vitae.</p>
            </div>
            <div class="col-md-4">
                <img src="~/imgs/registro-alimentos.png" class="d-block mx-auto" width=60 />
                <h3 class="display-7 text-center">Registro de Comidas</h3>
                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Commodi ipsam quisquam ab maxime sapiente consequatur non, laboriosam
                 quibusdam optio repellat iure labore. Laboriosam animi deleniti molestias
                 ex voluptatibus repellat vitae.</p>
            </div>
            <div class="col-md-4">
                <img class="d-block mx-auto" src="~/imgs/estadisticas.jpg" width=60 />
                <h3 class="display-7 text-center">Muestra de Estadísticas</h3>
                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Commodi ipsam quisquam ab maxime sapiente consequatur non, laboriosam
                 quibusdam optio repellat iure labore. Laboriosam animi deleniti molestias
                 ex voluptatibus repellat vitae.</p>
            </div>
        </div>
    </div>
</section>

<section class="text-center">
    <img src="~/imgs/alimentos-index-2.jpg" class="img-fluid"/>
</section>

<section>
    <div class="container">
        <div class=" row">
            <div class=" col-12 text-center">
                <h2 class="display-6">¿Cómo Funciona?</h2>
                <p class="fw-bold">Sólo sigue estos 3 pasos</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img class="d-block mx-auto" src="~/imgs/registrarse.jpg" width=60 />
                <h3 class="display-7 text-center">Regístrate</h3>
                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Commodi ipsam quisquam ab maxime sapiente consequatur non, laboriosam
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/imgs/registro-alimentos.png" class="d-block mx-auto" width=60 />
                <h3 class="display-7 text-center">registra tus alimentos</h3>
                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Commodi ipsam quisquam ab  labore. Laboriosam animi deleniti molestias
                </p>
            </div>
            <div class="col-md-4">
                <img class="d-block mx-auto" src="~/imgs/progreso.jpg" width=60 />
                <h3 class="display-7 text-center">Monitorea tu progreso</h3>
                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </div>
</section>




