@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidxs, con recarga caliente</h1>
    <p>Este es el contenido.</p>
</div>




