@page
@model SignUpModel
@{
    ViewData["Title"] = "Resgistrarse";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">

                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col text-center">
                                <img src="~/imgs/usuario.png" width="100px" alt="imagen de usuario">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <h4>Registro de Usuario</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre Completo</label>
                                <div class="form-group">
                                    <input class="form-control" type="text"
                                     placeholder="Nombre ApPaterno ApMaterno">
                                    </input>
                                </div>

                                <label>Número de celular</label>
                                <div class="form-group">
                                    <input class="form-control" type="number"
                                     placeholder="Tu número">
                                    </input>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label>Fecha de Nacimiento</label>
                                <div class="form-group">
                                    <input class="form-control" type="date"
                                     placeholder="ID de Usuario">
                                    </input>
                                </div>

                                <label>Correo Electrónico</label>
                                <div class="form-group">
                                    <input class="form-control" type="text"
                                     placeholder="Dirección de correo">
                                    </input>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Estado</label>
                                <div class="form-group">
                                    <select class="form-select">                                    
                                        <option selected>Michoacán</option>
                                        <option>Ciudad de México</option>
                                        <option>Querétaro</option>
                                        <option>Jalisco</option>
                                    </select>
                                </div>

                                
                            </div>
                            <div class="col-md-4">
                                <label>Ciudad</label>
                                <div class="form-group">
                                    <input class="form-control" type="text"
                                     placeholder="Ciudad">
                                    </input>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>C.P.</label>
                                <div class="form-group">
                                    <input class="form-control" type="pincode"
                                     placeholder="Código Postal">
                                    </input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Frase</label>
                                <div class="form-group">
                                    <input class="form-control" type="multiline" rows=2
                                     placeholder="Tu Frase, si esto fuera un reality de nutrición">
                                    </input>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <h5>Establece Tus Credenciales</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>ID de Usuario</label>
                                <div class="form-group">
                                    <input class="form-control" type="text"
                                     placeholder="ID de Usuario">
                                    </input>
                                </div>
                                <br>
                            </div>
                            <div class="col-md-6">
                                <label>Contraseña</label>
                                <div class="form-group">
                                    <input class="form-control" type="password"
                                     placeholder="Contraseña">
                                    </input>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" asp-page-handler="RunServerCode" 
                                    class="btn btn-primary w-100">
                                        Registrarse
                                   </button>
                                </div>
                                <br>
                                
                            </div>
                             
                        </div>
                    </div>
                </div>

                <a asp-area="" asp-page="/Index">Regresa al inicio</a>
                <br><br>
            </div>    
        </div>
        

    </div>
</section>
